﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Sample Web Api - The Babel Singularity</h1>
            </hgroup>
            <p>
                <a href="/api/publication">API : Publication List</a>
            </p>
            <p>
                <a href="/api/publication/10002">API : Single Publication</a>
            </p>
            
        </div>
    </section>
</div>
